{# ============================================================================================= #}
{# LOAD PACKAGES =============================================================================== #}
{# ============================================================================================= #}
{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ============================================================================================= #}
{# LOAD STYLESHEET ============================================================================= #}
{# ============================================================================================= #}
{% block styles %}

    <link href="{% static 'rsd/css/style.css' %}" rel="stylesheet"/>

{% endblock %}


{# ============================================================================================= #}
{# PAGE HEADING ================================================================================ #}
{# ============================================================================================= #}
{% block title %}

    {% trans "Instructions" %}

{% endblock %}


{# ============================================================================================= #}
{# PAGE CONTENT ================================================================================ #}
{# ============================================================================================= #}
{% block content %}

<p class="heading">
    {% trans "Preferences for resource allocation" %}
</p>

<p class="justify">
    {% blocktrans trimmed %}
        In this experiment, you take part in a resource allocation exercise. In groups of {{ players_per_group }}
        participants, you are to submit preferences over a selection of resources. You can be allocated to a maximum of
        {{ s_len }} resources. You can choose over {{ nr_courses }} resources in total. Also, each
        resource has a different capacity of participants.
    {% endblocktrans %}
</p>

<p class="justify">
    {% blocktrans trimmed %}
        Every available resource is linked to a potential payoff. These payoffs can vary within the group. Imagine the
        payoff as a representation of you much you enjoy being allocated with a certain resource. In this experiment, the
        payoffs - and therefore you personal joy - are given by the experimenter.
    {% endblocktrans %}
</p>

{% if Constants.show_capacities %}
<p class="justify">
    {% blocktrans trimmed %}
        The following table shows all available resources, the capacities of the resources, and the payoffs for each
        resource. Please keep in mind that the table is not necessarily the same for all your group members.
    {% endblocktrans %}
</p>

{% else %}
<p class="justify">
    {% blocktrans trimmed %}
        The following table shows all available resources and the payoffs for each resource. Please keep in mind that
        the table is not necessarily the same for all your group members.
    {% endblocktrans %}
</p>
{% endif %}

<div>
    <table class="dec-table">
        <thead>
        <tr>
            <th>{% trans "Index" %}</th>
            {% for i in indices %}
            <td>{% trans "R" %}<sub>{{ i }}</sub></td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                {% trans "Potential Payoff" %}
                {% if Constants.show_types and Constants.nr_types > 1 %}
                <br/>({% trans "You are"  %} {{ player.role }})
                {% endif %}
            </th>
            {% for i in valuations %}
            <td>{{ i|c }}</td>
            {% endfor %}
        </tr>
        {% if Constants.show_capacities %}
        <tr>
            <th>{% trans "Capacities" %}</th>
            {% for i in capacities %}
            <td>{{ i }}</td>
            {% endfor %}
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<p class="heading">
    {% trans "How are resources allocated?" %}
</p>

<p class="justify">
    {% blocktrans trimmed %}
        After all {{ players_per_group }} participants submitted their preference lists, a random order of
        participants is obtained and every participants gets to pick their resources one after another. When it is
        participant i's turn, his/her preferences are considered from highest to lowest preference. Participant i is
        allocated to a resource if the resource still has free capacities.
    {% endblocktrans %}
</p>

<p class="justify">
    {% blocktrans trimmed %}
        If that is the case, the participant is allocated with the resource and his/her next preference is
        considered. If the allocation was not successful, the participant is declined for this resource and his/her
        next preference will be considered. When participant i has obtained a full timetable or all items on participant i's
        preference list were considered, the next participant gets to choose his/her resources in the same way.
    {% endblocktrans %}
</p>

<p class="justify">
    {% blocktrans trimmed %}
        When all preference lists were considered, a timetable for each participant is obtained.
    {% endblocktrans %}
</p>

{% if Constants.instructions_example %}
<p class="heading">
    {% trans "Example:" %}
</p>

<p class="justify">
    {% blocktrans trimmed %}
        Suppose that there are <b>four</b> participants and <b>four</b> resources with a capacity of <b>two</b> participants
        each. Each participant can have <b>two</b> resources in his/her timetable. Further suppose that the participants
        make their decisions as indicated in the following table:
    {% endblocktrans %}
</p>

<div>
    <table class="instr-table">
      <thead>
      <tr>
        <th></th>
        <th>{% trans "Participant" %} 1</th>
        <th>{% trans "Participant" %} 2</th>
        <th>{% trans "Participant" %} 3</th>
        <th>{% trans "Participant" %} 4</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{% trans "Resource" %} 1</td>
        <td>3</td>
        <td>2</td>
        <td>4</td>
        <td>1</td>
      </tr>
      <tr>
        <td>{% trans "Resource" %} 2</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>2</td>
      </tr>
      <tr>
        <td>{% trans "Resource" %} 3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>{% trans "Resource" %} 4</td>
        <td>4</td>
        <td>4</td>
        <td>3</td>
        <td>4</td>
      </tr>
      </tbody>
    </table>
</div>

<p class="justify">
    {% blocktrans trimmed %}
        Suppose that the order in which participants get to choose their resources is:
    {% endblocktrans %}
</p>

<p class="justify">
    {% blocktrans trimmed %}
        <b>Participant 2 &#8594; Participant 1 &#8594; Participant 3 &#8594; Participant 4</b>
    {% endblocktrans %}
</p>

<br/>

<p class="justify">
    {% blocktrans trimmed %}
        First, <b>Participant 2</b> gets to choose resources. Since all resources do not have any participants in the first
    round, P<sub>2</sub> is allocated with his/her top choice resources R<sub>2</sub> and R<sub>1</sub>.
    {% endblocktrans %}
</p>

<div>
    <table class="instr-table">
      <thead>
      <tr>
        <th>{% trans "Participant" %} 1</th>
        <th>{% trans "Participant" %} 2</th>
        <th>{% trans "Participant" %} 3</th>
        <th>{% trans "Participant" %} 4</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td>{% trans "Resource" %} 2</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>{% trans "Resource" %} 1</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
</div>

<br/>

<p class="justify">
    {% blocktrans trimmed %}
        Next, <b>Participant 1</b> gets to choose resources. P<sub>1</sub> is allocated with his/her top choice resources
        R<sub>2</sub> and R<sub>1</sub>, since those resources are not at their capacity yet.
    {% endblocktrans %}
</p>

<div>
    <table class="instr-table">
      <thead>
      <tr>
        <th>{% trans "Participant" %} 1</th>
        <th>{% trans "Participant" %} 2</th>
        <th>{% trans "Participant" %} 3</th>
        <th>{% trans "Participant" %} 4</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{% trans "Resource" %} 2</td>
        <td>{% trans "Resource" %} 2</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>{% trans "Resource" %} 3</td>
        <td>{% trans "Resource" %} 1</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
</div>

<br/>

<p class="justify">
    {% blocktrans trimmed %}
        Next, <b>Participant 3</b> gets to choose resources. P<sub>3</sub> is not allocated with his/her top choice resource
        R<sub>2</sub>, since it has reached its maximum capacity in the previous round. However, P<sub>3</sub> obtains
        his/her second and third choice resource R<sub>3</sub> and R<sub>4</sub>, since those resources are not at their capacity yet.
    {% endblocktrans %}
</p>

<div>
    <table class="instr-table">
      <thead>
      <tr>
        <th>{% trans "Participant" %} 1</th>
        <th>{% trans "Participant" %} 2</th>
        <th>{% trans "Participant" %} 3</th>
        <th>{% trans "Participant" %} 4</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{% trans "Resource" %} 2</td>
        <td>{% trans "Resource" %} 2</td>
        <td><del>Resource 2</del></td>
        <td></td>
      </tr>
      <tr>
        <td>{% trans "Resource" %} 3</td>
        <td>{% trans "Resource" %} 1</td>
        <td>{% trans "Resource" %} 3</td>
        <td></td>
      </tr>
        <tr>
        <td></td>
        <td></td>
        <td>Resource 4</td>
        <td></td>
      </tr>
      </tbody>
    </table>
</div>

<br/>

<p class="justify">
    {% blocktrans trimmed %}
        Finally, <b>Participant 4</b> gets to choose resources. She is allocated with his/her top choice resource R<sub>1</sub>,
        since it has not reached its capacity yet. However, she can not obtain neither his/her second and third choice
        resources R<sub>2</sub> and R<sub>3</sub>, because they are both at their capacities. Instead, P<sub>4</sub>
        gets allocated with his/her fourth choice R<sub>4</sub>.
    {% endblocktrans %}
</p>

<div>
    <table class="instr-table">
      <thead>
      <tr>
        <th>{% trans "Participant" %} 1</th>
        <th>{% trans "Participant" %} 2</th>
        <th>{% trans "Participant" %} 3</th>
        <th>{% trans "Participant" %} 4</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><b>{% trans "Resource" %} 2</b></td>
        <td><b>{% trans "Resource" %} 2</b></td>
        <td><del>{% trans "Resource" %} 2</del></td>
        <td><b>{% trans "Resource" %} 1</b></td>
      </tr>
      <tr>
        <td><b>{% trans "Resource" %} 3</b></td>
        <td><b>{% trans "Resource" %} 1</b></td>
        <td><b>{% trans "Resource" %} 3</b></td>
        <td><del>{% trans "Resource" %} 2</del></td>
      </tr>
        <tr>
        <td></td>
        <td></td>
        <td><b>{% trans "Resource" %} 4</b></td>
        <td><del>{% trans "Resource" %} 3</del></td>
      </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><b>{% trans "Resource" %} 4</b></td>
      </tr>
      </tbody>
    </table>
</div>
{% endif %}
<br/>

<p class="justify">
    {% blocktrans trimmed %}
        Please click the "Next" button to continue.
    {% endblocktrans %}
</p>

{% next_button %}

{% endblock %}
